<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>A Generic Supply Chain Dashboard Demo</title>
    <script>
      function featureDisabled() {
          alert("Feature disabled in demo version.");
      }
  </script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="text-align: center; ">
            <b>A GENERIC SUPPLY CHAIN DASHBOARD DEMO</b>
        </el-header>
        <el-container>
            <el-aside>
                <el-row class="tac">
                    <el-col :span="20">
                        <el-menu default-active="menu_default"
                                 ref="menu"
                                 class="el-menu-vertical-demo sc-menu">
                            <el-menu-item index="1" @click="switch_div('hello')">
                                <i class="el-icon-star-on"></i>
                                <span>Home</span>
                            </el-menu-item>

                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-location"></i>
                                    <span style='font-size: 150%;'><b>Participants</b></span>
                                </template>
                                <el-menu-item index="2-1" @click="submit_query_party('factory')"><i>Factory</i>
                                </el-menu-item>
                                <el-menu-item index="2-2"
                                              @click="submit_query_party('shipment1')"><i>Shipment 1</i>
                                </el-menu-item>
                                <el-menu-item index="2-3"
                                              @click="submit_query_party('warehouse')"><i>Warehouse</i>
                                </el-menu-item>
                                <el-menu-item index="2-4"
                                              @click="submit_query_party('shipment2')"><i>Shipment 2</i>
                                </el-menu-item>
                                <el-menu-item index="2-5"
                                              @click="submit_query_party('merchant')"><i>Merchant</i>
                                </el-menu-item>
                                <el-menu-item index="2-6"
                                              @click="submit_query_party('customer')"><i>Customers</i>
                                </el-menu-item>
                            </el-submenu>
                            <el-menu-item index="3" @click="switch_div('all');result_all=[]">
                                <i class="el-icon-document"></i>
                                <span slot="title">View Records</span>
                            </el-menu-item>
                            <el-menu-item index="4" @click="switch_div('product')">
                                <i class="el-icon-search"></i>
                                <span slot="title">Query Records</span>
                            </el-menu-item>
                            <el-menu-item index="5" @click="switch_div('postrecord');result_all=[]">
                                <i class="el-icon-arrow-right"></i>
                                <span slot="title">Post Record</span>
                            </el-menu-item>
                            <el-menu-item index="6" onclick="featureDisabled()">
                                <i class="el-icon-bell"></i>
                                <span slot="title">Notifications</span>
                            </el-menu-item>
                            <el-menu-item index="7" onclick="featureDisabled()">
                                <i class="el-icon-message"></i>
                                <span slot="title">Messages</span>
                            </el-menu-item>
                            <el-menu-item index="8" onclick="featureDisabled()">
                                <i class="el-icon-picture"></i>
                                <span slot="title">Gallery</span>
                            </el-menu-item>
                            <el-menu-item index="9" onclick="featureDisabled()">
                                <i class="el-icon-upload"></i>
                                <span slot="title">Backup</span>
                            </el-menu-item>
                            <el-menu-item index="10" onclick="featureDisabled()">
                                <i class="el-icon-printer"></i>
                                <span slot="title">Print</span>
                            </el-menu-item>
                            <el-menu-item index="11" onclick="featureDisabled()">
                                <i class="el-icon-setting"></i>
                                <span slot="title">Settings</span>
                            </el-menu-item>                            
                            <el-menu-item index="12" @click="logout()">
                                <i class="el-icon-circle-close"></i>
                                <span slot="title">Log out</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main style="margin-left: -80px;" class="sc-center">
                <div>
                    <div v-show="action === 'hello'">
                        <el-row>
                            <el-col :offset="3">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;This dashboard is a demo for tracking/tracing products in a simplified 6 party supply chain using blockchain.</p>
                            </el-col>
                        </el-row>
                        <br/>
                        <el-row>
                            <el-col :offset="4">
                                <img src="figure/supply-chain.png" width="909" height="481" alt="A Generic Supply Chain" usemap="#supplychainmap">
                                <map name="supplychainmap">
                                    <area target="" alt="Factory" title="Factory" @click="jump_to_menu_item('2-1');" coords="96,220,48" shape="circle">
                                    <area target="" alt="Distributor" title="Distributor" @click="jump_to_menu_item('2-2');" coords="240,220,48" shape="circle">
                                    <area target="" alt="Warehouse" title="Warehouse" @click="jump_to_menu_item('2-3');" coords=
                                    "383,220,48" shape="circle">
                                    <area target="" alt="Trader" title="Trader" @click="jump_to_menu_item('2-4');" coords="527,220,48" shape="circle">
                                    <area target="" alt="Merchant" title="Merchant" @click="jump_to_menu_item('2-5');" coords="670,220,48" shape="circle">
                                    <area target="" alt="Customer" title="Customer" @click="jump_to_menu_item('2-6');" coords="814,220,48" shape="circle">
                                </map>
                            </el-col>
                            <el-col>
                                <br/>
                                <hr size="10"><br/>
                                <el-row>
                                    <el-col :offset="4">
                                        <p>Simulate production and flow of products in the supply chain - one or multiple steps at a time.</p>
                                    </el-col>
                                </el-row>

                                <el-row>
                                    <el-col :offset="4">
                                        <el-form v-model="step" :inline="true" >
                                            <el-form-item label="Simulate one step">
                                                <el-button @click="submit_next">Go</el-button>
                                            </el-form-item>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <el-form-item label="Simulate multipule steps:">
                                                <el-input v-model="step.num" style="width: 50px"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button @click="submit_multisteps">Go</el-button>
                                            </el-form-item>
                                        </el-form>
                                    </el-col>
                                </el-row>

                            </el-col>
                        </el-row>
                    </div>

                    <div v-show="action === 'factory'">
                        <h2 class="heading prompt" style="text-align: center; "> Factory : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="Action"
                                            width="100">
                                        <template slot-scope="scope">
                                            <el-button @click="handleNext(scope.row)" type="text" size="small">Next
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                        <br>
                    </div>

                    <div v-show="action === 'shipment_1'">
                        <h2 class="heading prompt" style="text-align: center; "> Shipment 1 : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="Action"
                                            width="100">
                                        <template slot-scope="scope">
                                            <el-button @click="handleNext(scope.row)" type="text" size="small">Next
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="action === 'warehouse'">
                        <h2 class="heading prompt" style="text-align: center; "> Warehouse : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="Action"
                                            width="100">
                                        <template slot-scope="scope">
                                            <el-button @click="handleNext(scope.row)" type="text" size="small">Next
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="action === 'shipment_2'">
                        <h2 class="heading prompt" style="text-align: center; "> Shipment 2 : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="Action"
                                            width="100">
                                        <template slot-scope="scope">
                                            <el-button @click="handleNext(scope.row)" type="text" size="small">Next
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="action === 'merchant'">
                        <h2 class="heading prompt" style="text-align: center; "> Merchant : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="Action"
                                            width="100">
                                        <template slot-scope="scope">
                                            <el-button @click="handleNext(scope.row)" type="text" size="small">Next
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="action === 'customer'">
                        <h2 class="heading prompt" style="text-align: center; "> Customers : List of Products</h2>
                        <el-row>
                            <el-col>
                                <el-table
                                        :data="result_party"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>


                    <div v-show="action === 'product'">
                        <el-row>
                            <el-col>
                                <el-form ref="form" :model="query_product" label-width="120px">
                                    <el-form-item label="Product ID">
                                        <el-input v-model="query_product.id"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button @click="submit_query_product">Query</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                    </div>

                    <div v-html="result_product" v-show="action === 'product'">
                    </div>

                    <div v-show="action === 'all'">
                        <el-row>
                            <el-col>
                                <el-form ref="form" id="form_all">
                                    <el-form-item label="Query all the records: ">
                                        <el-button @click="submit_query_all">Query</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                        <el-row v-show="action === 'all' && result_all.length>0">
                            <el-col>
                                <el-table
                                        :data="result_all"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="SerialNo"
                                            label="Serial No."
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Name"
                                            label="Pdt. Name"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="CodeNo"
                                            label="Pdt. Code"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Location"
                                            label="Location"
                                            width="150">
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                    </div>
                </div>

                <div v-show="action === 'postrecord'">
                    <h2 class="heading prompt" style="text-align: center; "> Post Record</h2>
                    <el-row>
                        <el-col>
                            <el-form ref="postrecord" :model="postrecord" label-width="120px">
                                <el-form-item label="Product Name">
                                    <el-input v-model="postrecord.name"></el-input>
                                </el-form-item>
                                <el-form-item label="Product Code">
                                    <el-input v-model="postrecord.code"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="post_record">Submit</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                </div>


            </el-main>
        </el-container>

    </el-container>
</div>
<style>

    @font-face {
        font-family: Sansation_Light;
        src: url("./static/sansation/Sansation_Light.ttf");
    }

    * {
       font-family: Sansation_Light;
    }

    .el-header {
        background-color: #EEE8AA;
        color: #333;
        line-height: 60px;
        font-size: 150%;
        font-weight: bold;
    }

    .el-menu-item {
        font-size: 150%;
        font-weight: bold;
    }

    .el-form {
        font-size: 150%;
    }

    p {
        font-size: 150%;
    }

    .el-aside {
        color: #333;
    }

    .sc-menu {
        min-height: 550px;
    }

    .sc-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sc_participant_form .el-form-item__content {
        display: inline-block;
        width: 80px;
        text-align: center;
    }

    .sc_participant_form .el-form-item__label {
        width: 90px;
        text-align: left;
    }

    .sc_participant_form .el-form-item {
        margin-bottom: 2px;
    }

    .sc_participant_form {
        border: thick double #b3c0d0;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #eeeeee;
        display: inline-block;
        margin-right: 10px;
    }
</style>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    const party_to_page_mapping = {
        factory: 'factory',
        shipment1: 'shipment_1',
        warehouse: 'warehouse',
        shipment2: 'shipment_2',
        merchant: 'merchant',
        customer: 'customer',
    };
    let v = new Vue({
        el: '#app',
        methods: {
            switch_div: function (action) {
                this.action = action;
            },
            jump_to_menu_item: function (index) {
                let self = this;
                if (index.indexOf('-') > 0) {
                    try {
                        self.$refs.menu.open(index.substring(0, index.indexOf('-')))
                    } catch (e) {
                    }
                }
                self.$refs.menu.activeIndex = index;
                if (self.$refs.menu.items[index]) {
                    self.$refs.menu.items[index].handleClick();
                }
            },
            submit_next: function () {
                let self = this;
                axios({
                    method: 'get',
                    url: 'api/CreateRecord.php',
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        let data = response.data;
                        if (data.status === "fail") {
                            alert(data.message);
                        } else {
                            //self.result_post_tx = response.data;
                            alert(data.message);
                            //this.form_post_tx={brand_right:0}
                        }
                    })

                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });
            },
            submit_multisteps: function () {
                let self = this;
                axios({
                    method: 'get',
                    url: 'api/CreateMultiRecords.php',
                    config: {headers: {'Content-Type': 'multipart/form-data'}},
                    params: self.step,
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        let data = response.data;
                        if (data.status === "fail") {
                            alert(data.message);
                        } else {
                            //self.result_post_tx = response.data;
                            alert(data.message);
                            //this.form_post_tx={brand_right:0}
                        }
                    })

                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });
                self.step={};
            },
            submit_query_all: function () {
                let self = this;
                axios({
                    method: 'get',
                    url: 'api/info.php',
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        self.result_all = response.data;
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });
            },
            submit_query_party: function (field) {
                let self = this;
                axios({
                    method: 'get',
                    url: 'api/queryparty.php',
                    params: {
                        field: field
                    },
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        let data = response.data;
                        if (data.status === "fail") {
                            alert(data.message);
                        } else {
                            self.result_party = response.data;
                            self.switch_div(party_to_page_mapping[field]);
                        }
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

            },
            submit_query_product: function () {
                let self = this;
                axios({
                    method: 'get',
                    url: 'api/queryproduct.php',
                    params: self.query_product,
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        self.result_factory = response.data;
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

            },

            handleNext: function (record) {
                let self = this;
                axios({
                    method: 'post',
                    url: 'api/Handlenext.php',
                    params: {
                        field: record['SerialNo']
                    },
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        self.submit_query_party(self.action);
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

                //console.log(record);

            },

            post_record: function () {
                let self = this;
                axios({
                    method: 'post',
                    url: 'api/postrecords.php',
                    params: self.postrecord,
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        let data = response.data;
                        if (data.status === "fail") {
                            alert(data.message);
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

            },

            logout: function () {
                let self = this;
                axios({
                    method: 'post',
                    url: 'api/logout.php',
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (response) {
                        //handle success
                        console.log(response);
                        let data = response.data;
                        if (data.status === "fail") {
                            alert(data.message);
                        } else {
                            location.href = data.message;
                        }
                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

            }


        },

        data() {
            return {
                action: 'hello',
                result_party: [],
                query_party: {},
                query_party_options: ['factory', 'truck1', 'warehouse', 'truck2', 'shop'],
                query_product: {},
                postrecord: {},
                result_product: '',
                result_next: '',
                result_all: [],
                menu_default: 2,
                step: {}


            }
        }
    })
    console.log(v)
</script>
</body>
</html>